<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
<h2>Our Services:</h2>
  
  <div class="row">
    
    <div class="col-sm-9" style="background-color:lavenderblush;">
    	At That Computer Shop we specialise in servicing your home and business computers.
With many years of experience and unparralleled enthusiasm, you'll find in most cases we can get your computer running as fast (if not FASTER) than new!

Besides enhancements, we can also assist with data backups and restoration to ensure your important information is not lost.
<ul>
	<li>Repairs</li>
	<li>Data: Recovery, Backup or Transfer</li>
	<li>Virus Removal</li>
	<li>Software and Driver Installation</li>
</ul>

      
    </div>
    <div class="col-sm-3" style="background-color:lavender;">
    	<%= image_tag "service1.png" %>
      
    </div>
  </div>
</div>

</body>
</html>
