<h1><%= @page_title %></h1>
<h2>About Us</h2>
<b>Computer Shop:</b> is a team of dedicated & hardworking professionals & assembling state of the art & latest configuration of computers since its formation. The shop was establised in 2000. At Computer Professional we believe that Quality is an attitude. We deliver PCs built with the original components.<br><br>

<b>Latest technology:</b> We provide latest configuration of computers. Our experienced & up-to-date Marketing staff will give you the information on latest products & solutions available in the country.<br><br>

<b>Competitive price:</b> We buy genuine products directly from the distributors to maintain best quality at the lowest price.<br><br>

<b>Fast delivery:</b>Our production team & facility is self sufficient to deliver the goods at your premises within 24 hours of confirmed order.<br><br>

<b>Custom built systems flexibility:</b> We deliver customized product as per your requirement & budget.<br><br>

<b>Efficient after sales service:</b> We take care of all the calls logged in the complaint register within 24 hours. Customers can log their calls through voice mail, email, fax or dedicated telephone nos.<br><br>