<html>
<head>
<title>The computer Shop</title>
</head>
<body>

<h1><div align="center"><marquee> Welcome to The Computer Shop</marquee></h1></div>
 <%= image_tag "url.jpg" %>

<div align="center">
 <form name="cust" action="customer.html.erb" method="post">
 
<%= link_to 'Click here...','home/index', class:'btn btn-default setbtn' %>
</form>
</div>
</body>
</html>