<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <center><h1>Get In Touch With Us</h1></center>
  
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><center><b>Address:</b></center>
<center>
 Weifield Group Contracting
 Opp. Andheri Railway Station, near McDonalds, 
 Andheri (West), 400058
</div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><center><b>Phone:</b></center>
    <h5>  <center>8678934567</center>
      <center>9878934567</center></h5>
    </div>
    <div class="col-sm-4" style="background-color:lavender;"><center><b>Email:</b></center>
      <center>abc@gmail.com</center>
      <center>xyz@gmail.com</center>
    </div>
  </div>
</div>

</body>
</html>
